@import "variable"

@mixin br($r)
  -webkit-border-radius: ($r)
  -moz-border-radius: ($r)
  border-radius: ($r)

@mixin trs($time)
  -webkit-transition: $time
  -moz-transition: $time
  -ms-transition: $time
  -o-transition: $time
  transition: $time

@mixin social-icon
  display: inline-block
  width: 59px
  height: 58px
  text-indent: -9999px
  background: url(../images/social-icon.png)
  &.twitter-icon
    background-position: 0 0
  &.instagram-icon
    background-position: -165px 0
  &.facebook-icon
    background-position: -83px 0